name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      # Generar la serpiente
      - name: Generate snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: rioacosta
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?palette=github-dark
            dist/snake-light.svg?palette=github-light
      - name: Show generated files (debug)
        run: |
          echo "Listing workspace root:"
          ls -la
          echo "Listing dist (if exists):"
          ls -la dist || true
          
      # Publicar los archivos en la rama output
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
          keep_history: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
