name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout del repo
      - name: Checkout repo
        uses: actions/checkout@v3

      # 2. Generar la culebrita
      - name: Generate snake
        uses: Platane/snk@master
        with:
          github_user_name: rioacosta
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?palette=github-dark
            dist/snake-light.svg?palette=github-light

      # 3. Publicar en la rama output
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
